* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
a {
  color: #C1C1C1;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
.fr {
  float: right;
}
